:root {
  --primary-color: #318fb5;
  --secondary-color: #005086;
  --light-gray-bg: #f5f5f5;
  --dark-color: #616161;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

.container {
  padding: 20px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-size: 30px;
  margin: 10px 0;
  text-transform: uppercase;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: var(--primary-color);
  display: block;
  margin: 0 auto 1rem auto;
}
/* slide-in */
.slide-in-left {
  animation: slideInLeft 0.75s ease both;
}

.slide-in-left.delay {
  animation-delay: 0.5s;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* fade-in */
.fade-in {
  animation: fadeIn 1s ease both;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* flip */
.flipX {
  animation: flipX 0.75s ease both;
}
/* 
@keyframes flipX {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: perspective(400px) rotateY(90deg);
  }

  40% {
    animation-timing-function: ease-in;
    transform: perspective(400px) rotateY(-20deg);
  }
  60% {
    opacity: 1;
    transform: perspective(400px) rotateY(10deg);
  }
  80% {
    transform: perspective(400px) rotateY(5deg);
  }
  100% {
    transform: perspective(400px);
  }
} */

/* nav bar */
.nav {
  width: 100%;
  background: #1b242f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.nav.top {
  display: none;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-container ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-container li a {
  color: #fff;
  padding: 10px 15px;
  transition: color 0.3s ease-in;
}

.nav-container li .current {
  color: var(--primary-color);
}
.nav-container li a:hover {
  color: var(--primary-color);
}

/* showcase */

.showcase {
  background: url("image/home/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.showcase-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase-container .showcase-content {
  text-align: center;
}

.showcase-content h1 {
  font-size: 35px;
  margin: 5px;
}

.showcase-content h3 {
  font-size: 30px;
  margin: 5px;
}

.showcase-content .btn-show {
  color: #fff;
  display: inline-block;
  padding: 15px;
  margin: 20px;
  font-size: 20px;
  border: 2px solid #fff;
  transition: 0.5s ease-in-out;
}

.showcase-content .btn-show:hover {
  opacity: 0.8;
  background: #1b242f;
  border: 2px solid #1b242f;
  border-radius: 8px;
}

.showcase-content .btn-show i {
  margin-left: 5px;
  transition: 0.5s ease-in-out;
}

.showcase-content .btn-show:hover i {
  transform: rotate(90deg);
}

.showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.showcase * {
  z-index: 10;
}

/* about */

.about {
  margin: 20px 0;
  padding: 30px 0;
}

.about-container .special {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.special .special-group {
  padding: 10px;
  text-align: center;
}

.special-group i {
  text-align: center;
  padding: 20px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: #fff;
}

.special-group h3 {
  margin: 10px 0;
}

/* skills */

.skills {
  margin: 30px 0 20px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.skills > div:first-of-type {
  text-align: center;
  padding: 20px 30px;
}

.skills > div:first-of-type h3 {
  font-size: 25px;
  margin: 5px 0;
}

.skills img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 30px;
  margin-bottom: 20px;
}

.bar {
  overflow: hidden;
  height: 30px;
  background: #eee;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.bar .bar-fill {
  background: var(--secondary-color);
  height: 100%;
}

.bar .bar-fill .bar-tag {
  background: var(--primary-color);
  color: #fff;
  height: 100%;
  width: 110px;
  text-align: center;
  font-weight: bold;
}

.bar span {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--dark-color);
}

/* Portfolio */

.portfolio {
  padding: 50px 0;
  background-color: var(--light-gray-bg);
}
.projects {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.project {
  position: relative;
  background: var(--primary-color);
  overflow: hidden;
}

.project::after {
  content: "";
  display: block;
  background: inherit;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}

.project:hover:after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

.project:hover .project-image {
  transform: scale(1.2);
}

.project:hover .project-text {
  opacity: 1;
  transform: translateY(0);
}

.project-image {
  display: block;
  width: 370px;
  height: 300px;
  transform: translateZ(0);
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}

.project-mage:before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.project-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  transform: translateY(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
    transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 300ms;
}

.project-text-wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.project-text-title {
  font-size: 25px;
  margin-top: 5px;
}

.project-text-category {
  text-transform: uppercase;
  font-size: 20px;
  opacity: 0.8;
  margin: 3px 0;
}

.project-text button {
  cursor: pointer;
  padding: 7px 10px;
  margin: 30px 0 10px;
  font-size: 18px;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  color: #fff;
  background-color: transparent;
}

.project-text button:hover {
  transform: scale(1.1);
}

.project-text button:focus {
  outline: none;
}
